

@media screen and (max-width:414px){
  
    .head-dev{
        font-size: 30px;
        padding-top: 50px;
    }

    .banner-dev {
        height: 80vh;
        margin: 15px;
    }
    .home-head{
        font-size: 27px;
    }

    .head-dev-one{
        font-size: 12px;
    }
   
    .para-home{
        font-size: 12px;
    }
    .head-button-one{
        background-color: rgb(29, 165, 29);
        color: #fff;
        width: 130px;
        height: 38px;
        border: none;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
        font-size: 12px;
    }

    .home-computer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .computer-one{
        width: 400px;
    }
 
    .middle-nav{
        flex: 1;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
    }

    .button-input{
        position: absolute;
        right: 60px;
    }
  

   }

            @media screen and (max-width:390px){
            
                .head-dev{
                    font-size: 30px;
                    padding-top: 50px;
                }

                .banner-dev {
                    height: 90vh;
                }

                .head-dev-one{
                    font-size: 12px;
                }
            
                .head-button-one{
                    background-color: rgb(29, 165, 29);
                    color: #fff;
                    width: 130px;
                    height: 38px;
                    border: none;
                    border-radius: 20px;
                    font-weight: bold;
                    cursor: pointer;
                    font-size: 12px;
                }

                .home-computer{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .computer-one{
                    width: 400px;
                }
            
                .middle-nav{
                    flex: 1;
                    margin-left: 0px;
                    margin-right: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 300px;
                }

                .button-input{
                    position: absolute;
                    right: 60px;
                }
            

            }












         /* SMALL SCREEN */

      @media screen and (max-width:800px){
  
        .left-nav{
            display: none;
        }
.menu-dev{
    display: block;
}
.menu-dev{
    display: flex;
    justify-content: center;
}

.menu-one{
    width: 35px;
    cursor: pointer;
    margin-left: 20px;
}

.logo-image{
    width: 40px;
}

.middle-nav{
    margin-left: 100px;
    margin-right: 50px;
}

.home-computer-two{
    display: none;
}
.home-computer{
display: block;
}

      }


             /* END OF SMALL SCREEN */

                   /* LADGE SCREEN */

@media screen and (min-width:900px){
    .home-computer{
        display: none;
        }

        .head-dev{
            font-size: 40px;
            padding-top: 30px;
        }

        .home-computer-two{
            display: flex;
            align-items: center;
            justify-content: center;
        }
.banner-dev{
    position: relative;
}
        .computer-one{
            width: 750px;
            position: absolute;
            bottom: 15px;

        }

          .button-input{
        position: absolute;
        right: 120px;
    }

    .input-home{
        position: relative;
    }
    .button-input{
        position: absolute;
        right: 220px;
        bottom: -348px;
    }
  
    .input-div{
        position: absolute;
        bottom: -350px;
    }

    .input-one{
        width: 450px;
        height: 45px;
    }
    .inside-input{
        width: 90px;
        height: 40px;
    }
}
        @media screen and (min-width:960px){
            .home-computer{
                display: none;
                }

                .head-dev{
                    font-size: 40px;
                    padding-top: 30px;
                }

                .home-computer-two{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        .banner-dev{
            position: relative;
        }
                .computer-one{
                    width: 750px;
                    position: absolute;
                    bottom: 15px;

                }

                .button-input{
                position: absolute;
                right: 120px;
            }

            .input-home{
                position: relative;
            }
            .button-input{
                position: absolute;
                right: 250px;
                bottom: -348px;
            }
        
            .input-div{
                position: absolute;
                bottom: -350px;
            }

            .input-one{
                width: 450px;
                height: 45px;
            }
            .inside-input{
                width: 90px;
                height: 40px;
            }
        }


        @media screen and (min-width:1000px){
            .home-computer{
                display: none;
                }

                .head-dev{
                    font-size: 40px;
                    padding-top: 30px;
                }

                .home-computer-two{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        .banner-dev{
            position: relative;
        }
                .computer-one{
                    width: 750px;
                    position: absolute;
                    bottom: 15px;

                }

                .button-input{
                position: absolute;
                right: 120px;
            }

            .input-home{
                position: relative;
            }
            .button-input{
                position: absolute;
                right: 450px;
                bottom: -348px;
            }
        
            .input-div{
                position: absolute;
                bottom: -350px;
            }

            .input-one{
                width: 450px;
                height: 45px;
            }
            .inside-input{
                width: 90px;
                height: 40px;
            }

            .menu-dev{
                display: none;
            }
        }


            /* END OF LADGE SCREEN */


               /* SMALLER SCREEN */
               @media screen and (max-width:390px){
                .home-computer{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .computer-one{
                    width: 370px;
                }

                .right-nav{
                    /* width: 150px; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    margin-left: -30px;
                }
                
                .get-button{
                    width: 80px;
                    height: 35px;
                    border-radius: 18px;
                    font-size: 10px;
                }   
                
                .middle-nav{
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 35px;
                }
                
                .logo-image{
                    width: 30px;
                }

                .input-one{
                    width: 230px;
                }

                .button-input{
                    position: absolute;
                    right: 30px;
                }
               }
